<html>
    <head>
          <title>Teck blog</title>
          <meta name="viewport" content="width=device-width,initial-scale=1.0">
              {% load static %}

        <link rel="stylesheet" href="{% static 'css3/css/bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <!--    important script tags-->
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

       <script>
             $(document).ready(function(){
         $(".reply-btn").click(function()
         {
           $(this).parent().parent().next(".replied-comments").fadeToggle()
         });
          $(".reply_msg").click(function()
         {
           $(this).parent().parent().next(".replied-message").fadeToggle()
         });
          $(".postdelete").click(function()
          {
          return confirm("Are you sure to delete this order?")
          });

          $(".commentdelete").click(function()
          {
          return confirm("Are you sure to delete this order?")
          });

         });
       </script>
    </head>
        <body>
      <div class="container">
        {% include 'blogone/navbar.html' %}
             {% block content %}

            {% endblock content  %}
         
       </div>
        </body>

  <script type="text/javascript">
    $(function() {
        // this will get the full URL at the address bar
        var url = window.location.href;

        // passes on every "a" tag
        $(".topmenu a").each(function() {
            // checks if its the same on the address bar
            if (url == (this.href)) {
                $(this).closest("li").addClass("active");
                //for making parent of submenu active
               $(this).closest("li").parent().parent().addClass("active");
            }
        });
    });        
</script>

</html>