
{% load static %}
<html>
    <head>
          <title>Our blog</title>
          <meta name="viewport" content="width=device-width,initial-scale=1.0">
              {% load static %}

        <link rel="stylesheet" href="{% static 'css3/css/bootstrap.css' %}"/>
<!--    important script tags-->
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
  <div class="container" style="margin-top:30px;">
      <div class="col-md-5 panel panel-default panel-body" style="float:center">
     <div class="card card-body">
       <form action="" method="post">
           {% csrf_token %}
           <div class="card card-body">
               <a class="btn btn-info" href="{% url 'home' %}" > Back to Home</a>
              <h4 style="text-align:center">Login</h4>
          </div>
           <br>
        {% if messages %}
          <div class="alert alert-danger">
              {% for message in messages %}
                            <p style="text-align:center">{{message}}</p>
               {% endfor %}
           </div>
       {% endif %}


      <div class="card card-body ">

              <div class="input-group">
                      <div class="input-group-addon">
                              <span class="glyphicon glyphicon-user"></span>
                      </div>
                        <input type="text" name="username" class="form-control" placeholder="Username" required="required">
              </div>
          <br>

          <div  class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-lock"></span>
                     </div>
              <input type="password" name="password" class="form-control" placeholder="Password" required="required">
          </div>
          <br>
          <button type="submit" name="login" class="btn btn-primary">Login</button>  <br>
          <small class="text-muted">
              <a href="#" >forgot password?</a>
          </small>
      </div>
      </form>
</div>
</div>
   </div>
  </body>
</html>

